@mixin formLabel {
  margin-top: 16px;
  align-items: center;
  display: inline-flex;
  width: 100%;
  &__textarea {
    display: inline-block;
    position: relative;
    width: inherit;
    input {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: inherit;
      font-size: inherit;
      height: 48px;
      margin: 0;
      outline: none;
      padding: 0 16px;
      width: inherit;
    }
  }
}