%select{:name => "categoryId"}
  %option{aria_selected: "true", label: "選択してください", selected: "", value: ""} 選択してください
  %option{aria_selected: "false", label: "北海道", value: "1"} 北海道
  %option{aria_selected: "false", label: "青森県", value: "2"} 青森県
  %option{aria_selected: "false", label: "岩手県", value: "3"} 岩手県
  %option{aria_selected: "false", label: "宮城県", value: "4"} 宮城県
  %option{aria_selected: "false", label: "秋田県", value: "5"} 秋田県
  %option{aria_selected: "false", label: "山形県", value: "6"} 山形県
  %option{aria_selected: "false", label: "福島県", value: "7"} 福島県
  %option{aria_selected: "false", label: "茨城県", value: "8"} 茨城県
  %option{aria_selected: "false", label: "栃木県", value: "9"} 栃木県
  %option{aria_selected: "false", label: "群馬県", value: "10"} 群馬県
  %option{aria_selected: "false", label: "埼玉県", value: "11"} 埼玉県
  %option{aria_selected: "false", label: "千葉県", value: "12"} 千葉県
  %option{aria_selected: "false", label: "東京都", value: "13"} 東京都
  %option{aria_selected: "false", label: "神奈川県", value: "14"} 神奈川県
  %option{aria_selected: "false", label: "新潟県", value: "15"} 新潟県
  %option{aria_selected: "false", label: "富山県", value: "16"} 富山県
  %option{aria_selected: "false", label: "石川県", value: "17"} 石川県
  %option{aria_selected: "false", label: "福井県", value: "18"} 福井県
  %option{aria_selected: "false", label: "山梨県", value: "19"} 山梨県
  %option{aria_selected: "false", label: "長野県", value: "20"} 長野県
  %option{aria_selected: "false", label: "岐阜県", value: "21"} 岐阜県
  %option{aria_selected: "false", label: "静岡県", value: "22"} 静岡県
  %option{aria_selected: "false", label: "愛知県", value: "23"} 愛知県
  %option{aria_selected: "false", label: "三重県", value: "24"} 三重県
  %option{aria_selected: "false", label: "滋賀県", value: "25"} 滋賀県
  %option{aria_selected: "false", label: "京都府", value: "26"} 京都府
  %option{aria_selected: "false", label: "大阪府", value: "27"} 大阪府
  %option{aria_selected: "false", label: "兵庫県", value: "28"} 兵庫県
  %option{aria_selected: "false", label: "奈良県", value: "29"} 奈良県
  %option{aria_selected: "false", label: "和歌山県", value: "30"} 和歌山県
  %option{aria_selected: "false", label: "鳥取県", value: "31"} 鳥取県
  %option{aria_selected: "false", label: "島根県", value: "32"} 島根県
  %option{aria_selected: "false", label: "岡山県", value: "33"} 岡山県
  %option{aria_selected: "false", label: "広島県", value: "34"} 広島県
  %option{aria_selected: "false", label: "山口県", value: "35"} 山口県
  %option{aria_selected: "false", label: "徳島県", value: "36"} 徳島県
  %option{aria_selected: "false", label: "香川県", value: "37"} 香川県
  %option{aria_selected: "false", label: "愛媛県", value: "38"} 愛媛県
  %option{aria_selected: "false", label: "高知県", value: "39"} 高知県
  %option{aria_selected: "false", label: "福岡県", value: "40"} 福岡県
  %option{aria_selected: "false", label: "佐賀県", value: "41"} 佐賀県
  %option{aria_selected: "false", label: "長崎県", value: "42"} 長崎県
  %option{aria_selected: "false", label: "熊本県", value: "43"} 熊本県
  %option{aria_selected: "false", label: "大分県", value: "44"} 大分県
  %option{aria_selected: "false", label: "宮崎県", value: "45"} 宮崎県
  %option{aria_selected: "false", label: "鹿児島県", value: "46"} 鹿児島県
  %option{aria_selected: "false", label: "沖縄県", value: "47"} 沖縄県
  %option{aria_selected: "false", label: "未定", value: "48"} 未定
  
%svg{aria_hidden: "true", fill: "#888888", fill_rule: "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
  %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}